* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: calc(100% - 10px);
}
body {
    display: flex;
    flex-direction: column;
    background: black;
}
.flex-item {
    margin: 10px 10px;
}
.big {
    flex: 1;
}
.logo {
    margin-right: auto;
    padding-right: 1200px;
}
.side {
    margin-left: 10px;
    width: 450px;
    height: 700px;
    border:white solid 1px;
    color: white;
}
.flex {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
nav,
.footer .flex-item {
    height: 100px;
    
}
.flex-nav {
    padding: 0px 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 1px;
}
.flex-nav a {
    text-decoration: none;
    margin: 0 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.flex-content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.flex-box {
    display: flex;
    border: white solid 1px;
    height: 250px ;
    width: 250px;
    margin-left: 200px;
    margin-bottom: 100px;
}

.flex-bottom {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 10px;
    border: white solid 1px;
    padding: 35px;

}
